@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Princess+Sofia&display=swap');
*,
::after,
::before,
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.container {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden !important;
}
.img-container {
	margin: 1rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
@media only screen and (max-width: 600px) {
	.img-container {
		flex-direction: column;
	}
}
.playbtn {
	text-transform: uppercase;
	background: rgb(240, 241, 223);
	color: rgb(34, 80, 110);
	padding: 0.375rem 0.75rem;
	letter-spacing: .15rem;
	transition: all .3s linear;
	font-size: 0.7rem;
	border: 1px solid rgb(34, 80, 110);
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	border-radius: .5rem;
	animation: bounce 2s linear infinite;
	margin: 1rem 2rem;
	display: none;
}

@keyframes bounce {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}
.playbtn:hover {
	color: #fff;
	background: rgb(34, 80, 110);
}
.claire {
	max-width: 400px;
	border-radius: .5rem;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.message {
	max-width: 50%;
}
.deadline {
	display: flex;
}
.deadline-format {
	color: #222;
	margin-right: 1rem;
	width: 5rem;
	height: 5rem;
	display: grid;
	place-items: center;
	text-align: center;
}
.deadline-format span {
	display: block;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.85rem;
}

.deadline h4 {
	font-size: 2rem;
	margin-bottom: 0.25rem;
	letter-spacing: .23rem;
	color: rgb(97, 36, 36);
	font-family: 'Fredericka the Great', cursive;
}
.messageTime {
	font-size: 2.5rem;
	color: rgb(97, 36, 36);
	font-family: 'Princess Sofia', cursive;
	padding: 1rem;
	transition: all .5s linear;
	letter-spacing: .14rem;
	background-color: rgba(255, 255, 255, .5);
	text-align: center;
	border-radius: .5rem;
}

.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;
	transition: all .5s linear;
}
.home {
	width: 100%;
	height: 100vh;
	background: url('/balloon.jpg');
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.home::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: url('./left.png');
	transition: 1.5s ease-out;
	animation: openleft 1.9s 1s ease-out forwards;
}
.home::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	background: url('./right.png');
	transition: 1.5s ease-out;
	animation: openright 1.9s 1s ease-out forwards;
}

@keyframes openleft {
	100% {
		transform: translate(-100%);
		display: none;
	}
}
@keyframes openright {
	100% {
		transform: translate(100%);
		display: none;
	}
}
.single-box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 111;
	pointer-events: none;
}
.single-box li {
	position: absolute;
	display: block;
	list-style: none;
	width: 115px;
	height: 115px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate-box 20s linear infinite;
	bottom: -150px;
	border-radius: 50%;
}
.single-box li:nth-child(1) {
	left: 62%;
	width: 60px;
	height: 60px;
	animation-delay: -1s;
	background: url('./1.jpg');
	background-size: cover;
	background-size: cover;
}
.single-box li:nth-child(2) {
	left: 12%;
	width: 40px;
	height: 40px;
	background: url('./2.jpg');
	background-size: cover;
	animation-delay: 5s;
	animation-duration: 10s;
}
.single-box li:nth-child(3) {
	left: 72%;
	width: 100px;
	height: 100px;
	animation-delay: 1s;
	bottom: -29rem;
	background: url('./3.jpg');
	background-size: cover;
}
.single-box li:nth-child(4) {
	left: 42%;
	width: 120px;
	height: 120px;
	animation-delay: 3s;
	animation-duration: 8s;
	background: url('./4.jpg');
	background-size: cover;
}
.single-box li:nth-child(5) {
	left: 65%;
	width: 55px;
	height: 55px;
	background: url('./5.jpg');
	background-size: cover;
	animation-delay: -.2s;
	bottom: 0;
}
.single-box li:nth-child(6) {
	left: 85%;
	width: 10rem;
	height: 10rem;
	animation-delay: 2.3s;
	background: url('./6.jpg');
	background-size: cover;
	bottom: -30rem;
}
.single-box li:nth-child(7) {
	left: 0%;
	width: 110px;
	height: 110px;
	animation-delay: -.7s;
	background: url('./7.jpg');
	background-size: cover;
}
.single-box li:nth-child(8) {
	left: 5%;
	width: 4rem;
	height: 4rem;
	animation-delay: 4.5s;
	bottom: -250px;
	background: url('./8.jpg');
	background-size: cover;
}
.single-box li:nth-child(9) {
	left: 55%;
	width: 2rem;
	height: 2rem;
	animation-delay: 3.3s;
	bottom: -25rem;
	background: url('./9.jpg');
	background-size: cover;
}
.single-box li:nth-child(10) {
	left: 59%;
	width: 10rem;
	height: 10rem;
	animation-delay: 5.5s;
	bottom: -25rem;
	background: url('./10.jpg');
	background-size: cover;
}
@keyframes animate-box {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}
